.nav {
  background: white;
}

.firstHeader {
  height: 419px;
  background: #003145;
  padding: 67px;
}

.yellowBox {
  width: 464px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffce5c;
  border-radius: 5px;
  margin-left: 70px;
}
.mid {
  box-sizing: border-box;
  height: 66px;
 background: #FFFFFF;
border: 0.3px solid #DDE6ED;
box-shadow: 0px 6px 12px #DDE6ED;
}

.belowMid {
  height: 87px;
  background: #ffffff;
}

.footer {
  width: 956px;
  height: 322px;
  background: white;
  padding: -9px;
  margin-left: 66px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: -0.02em;

  color: #64607d;
}

.heading {
  width: 818px;
  height: 48px;
  margin-left: 72px;
  margin-top: 26px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #ffffff;
}

.subHeading {
  width: 576px;
  height: 31px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 72px;
  /* or 133% */

  color: #f8f9fd;
}

.easy {
  width: 102px;
  height: 34px;

  margin-top: 37px;
  margin-left: 72px;
  background: #f8f9fd;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.overview {

    margin-top: 17px;
    margin-left: 123px;
    width: 136px;
    height: 49px;
    border-bottom: solid 8px #44924C;
    border-radius: 5px;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.8%;
    display: flex;
    align-items: center;
    color: #000000;
}
.forGreenLine{
    height: 90px
}
.greenLineBelowOverview{

width: 125px;
height: 4px;


background: #44924C;
border-radius: 20px;
}

.btnBox{


    width: 357px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background: white;
    margin-top: -62px;
    margin-right: 27px;
}
.startBtn{
    width: 91px;
    height: 37px;

    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    
    background: #44924C;
    color: #f8f9fd;
    border-radius: 10px;
    margin-right: 43px;
}


.deleteBtn{
    width: 91px;
    height: 37px;

    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    color: red;
    border: solid 1px red;

    border-radius: 10px;


}
